table {
    border-collapse: collapse;
    width: 100%;
    outline-style: outset;
    font-weight: bold;
}

th, td {
    border-width: 2px;
    border-style: outset;
}

div {
    border: 1px solid black;
    border-width: 2px;
    border-style: outset;
}

th[colspan="3"] {
    background-color: rgb(0, 255, 0);
}

td[rowspan="2"]:first-child {
    background-color: rgb(0, 255, 255);
}

.textoRojo {
    color: red;
}

td[rowspan="2"]:last-child {
    background-color: rgb(246, 146, 255);
}